* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
}

div {
  box-sizing: border-box;
  width: 600px;
  margin: 0px auto;
  padding: 8px;
  background-color: lightyellow;
}

h1 {
  color: orange;
  text-align: center;
}

ul {
  font-size: 16px;
  list-style-type: none;
}

/* 如何让li标签平分盒子？ */
li {
  /* display: inline-block; */
  background-color: aliceblue;
}

img {
  height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
}